.classpath/
.idea/**
.project
.settings/

overlays
student-preferred-name-portlet-api/.classpath
student-preferred-name-portlet-stored-proc-impl/.classpath
student-preferred-name-portlet-webapp/.classpath
target

*.iml

